* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOMEPAGE */
.home{
    background-image: url("bg1.webp");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:"Playfair Display" ;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: #dfb6b2;
    padding: 14rem 10vh;
    gap:2rem;
    overflow: hidden;
} 

.home p{
    max-width: 900px;
}

.home .head{
    font-family: "Monsterreat",sans-serif;
    /*font-weight:800;*/
    font-size:4.2rem;
    color: #f8e9e1;
}

.home .book{
    font-family: "Parkinsans";
    margin-top:2rem;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.2);
    border:2px solid white;
    color:white;
    padding:1rem;
    text-align: center;
    width: 200px;
}

.book:hover{
    opacity: 1;
    background-color: white;
    color:#60a1f8;
    transition: 0.5s ease;
}
/*
@media (max-width: 600px) {
    .home .head {
        font-size:3rem;
    }
    .home p{
        font-size:1rem;
    }
}

*/

/* NAVIGATION BAR */
.navbar {
  background-color: rgba(240, 255, 255,0.2);
  border-radius: 15px;
  backdrop-filter: blur(12px); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.276);
  transform: translate(-50%,-15px);
  left:50%;
  top:0;
  width: 70%;
  position: fixed;
  display: flex;
  padding:1.5rem 0.5rem 1rem 0.5rem;
  gap:8rem;
  z-index: 10;
  justify-content: space-evenly;
  font-family: "Montserrat";
}

.menu{
    display: flex;
    gap:2rem;
    list-style: none;
    padding-top:5px;
}


.menu li a{
    text-decoration: none;
    color:#c0d8ff;
}

.menu li a:hover, .about:hover{
    text-shadow:
    1px 1px 2px black,
    0 0 1.2rem #60a2f895,
    0 0 0.5rem #60a2f895;
}

.logo{
    font-family: "Chiron Sung HK";
    color: rgb(255, 255, 255);
    font-weight: 800px;
    font-size:1.5rem;
}

.about{
    color:#c0d8ff;
    padding-top: 5px;
}


/* Responsive tweak 
@media (max-width: 768px) {
  .navbar {
    width: 90%;
    padding: 1rem;
  }

  .navbar ul {
    gap: 1rem;
  }
}   */