* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOMEPAGE */


.home{
    background-image: url("bg1.webp");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:"Playfair Display" ;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: #dfb6b2;
    padding: 14rem 10vh;
    gap:2rem;
    overflow: hidden;
} 

.home p{
    max-width: 900px;
}

.home .head{
    font-family: "Monsterreat",sans-serif;
    /*font-weight:800;*/
    font-size:4.2rem;
    color: #f8e9e1;
}
/*
@media (max-width: 600px) {
    .home .head {
        font-size:3rem;
    }
    .home p{
        font-size:1rem;
    }
}

*/

.menu {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.39);
  top: 1rem;
  width: 100%;
  position: fixed;
  display: flex;
  text-align: center;
  padding:1rem;
}

.menu{
    display: flex;
    gap:2rem;
    list-style: none;
}

.navbar .menu,.logo,.about{
    justify-content: space-evenly;
}

.menu li a{
    text-decoration: none;
    color:#1e0a40;
    font-family: "Noto Sans Bhaiksuki";
}

.logo{
    font-family: "Chiron Sung HK";
}

.about{
    font-family: "Noto Sans Bhaiksuki";
}
