* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOMEPAGE */


.home{
    background: #EAF0FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:sans-serif ;
    font-size: 1.5rem;
    color: rgb(6, 16, 62);
    padding: 13rem 5vh;
    gap:2rem;
    
} 

.home p{
    max-width: 1000px;
}

.home .head{
    font-family: "Montserrat",sans-serif;
    font-size:4.5rem;
    color: #5C4DFF;
}

@media (max-width: 600px) {
    .home .head {
        font-size:3rem;
    }
    .home p{
        font-size:1rem;
    }
}



.menu {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(89, 84, 231, 0.39);
  top: 2rem;
  left:4rem;
  position: fixed;
  justify-self: center;
  display: flex;
  align-items: center;
  text-align: center;
  padding:1rem;
}

.menu{
    display: flex;
    gap:2rem;
    list-style: none;
}


.menu li a{
    text-decoration: none;
    color:#1e0a40;
    font-family: "Noto Sans Bhaiksuki";
}

.logo{
    font-family: "Chiron Sung HK";
    margin-right:22rem;
}

.about{
    margin-left:22rem;
    font-family: "Noto Sans Bhaiksuki";
}

.circle{
    width: 900px;
    height: 900px;
    border-radius:100%;
    background-color:#5C4DFF;
    position: absolute;
    bottom: -500px;
    right:-400px;
}
